header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;

  a {
    color: #222;
    display: inline;
  }

  a:hover {
    text-decoration: underline;
    color: #555;
  }
}

header li {
  display: inline;
  word-spacing: 20px;


  a {
    color: #222;
  }

  a:hover {
    text-decoration: underline;
    color: #555;
  }
}
